* {
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

ul {
    padding: 0;
    list-style-position: inside;
}

main {
    margin-top: 5rem;
    display: flex;
    height: 90%;
    position: absolute;
    left: 0;
    top:0;
    width: 100%;
    height: calc(100% - 5rem);
}

#main-sidebar {
    flex: 1;
    background-color: #353535;
    padding: 10px;
}

#main-container {
    flex: 5;
    background-color: #1d2626;
    height: 100%;
    overflow-y: auto;
}

#topbar {
    position: fixed;
    left: 0;
    top: 0;
    height: 5rem;
    width: 100%;
    background-color: #353535;
    overflow: hidden;
    margin: none;
}

#topbar {
    position: fixed;
    height: 5rem;
    width: 100%;
    background-color: #353535;
    margin: none;
    overflow: hidden;
}

#topbar a {
    float: right;
    padding: 1.8rem 2rem;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    font-family: Arial;
    height: 100%;
}

#topbar a:hover {
    background-color: #adadad;
}

#topbar h1 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 2rem;
    float: left;
}

#topbar h1:hover {
    cursor: pointer;
}


/* SIDEBAR FORM AND BUTTON */
#main-sidebar button {
    cursor: pointer;
    padding: 12px;
    background: #4c6363;
    border: none;
    color: white;
    font-size: 16px;
    transition: background .3s ease;
    width: 100%;
}

#main-sidebar button:hover {
    background: #6a8a8a;
}

#main-sidebar button:disabled {
    cursor: default;
    background: #7c5cbf94;
}

#main-sidebar input {
    width: 100%;
    margin-bottom: 10px;
    border: 1px solid #eeeeee;
    padding: 12px;
    outline: none;
}

/* Individual Result */
#result-container {
    background-color: white;
    margin-top: 10px;
    width: 100%;
    display: grid;
    height: auto;
    grid-template-columns: 0.5fr 0.4fr 1.1fr 1fr;
    grid-template-rows: 0.5fr 0.6fr 1.3fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "japanese japanese japanese-reading japanese-reading"
      "japanese japanese definitions definitions"
      "wordType jlpt definitions definitions";
  }
  
.japanese { 
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: japanese; 
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 40px;
    font-weight: bold;
    margin: 10px;
    border: 1px;
    border-style: solid;
    border-color: black;
}
  
.japanese-reading { 
    display: flex;
    align-items: center;
    padding-top: 10px;
    font-size: 20px;
    margin-bottom: 0px;
    grid-area: japanese-reading; 
    font-family: 'Noto Sans JP', sans-serif;;
    font-weight: bold;
    text-align: start;
    margin: 10px;
}

.definitions { 
    grid-area: definitions; 
    font-family: Arial, Helvetica, sans-serif;
    text-align: start;
    margin: 10px;
    margin-top: 0px;
}

.wordType { 
    grid-area: wordType; 
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
}

.jlpt { 
    grid-area: jlpt; 
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
}

#search-text {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 30px;
}


#boldfont {
    display: flex;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 50px;
    font-weight: bold;
}

#about-text {
    color: white;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding: 10px;
}

#about-text a {
    color: white;
}